body {
    color: white;
    background: #151624;
    position: relative;
    left: 1rem;
}

.linespacer {
    font-family: "Flow Circular", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

div {
    display: inline;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

h1 > div {
    background: linear-gradient(90deg, rgba(128,255,192,1) 0%, rgba(164,131,254,1) 50%, rgba(255,133,133,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    top: -1rem;
}

/*
.maintext>div:nth-child(1),
.maintext2>div:nth-child(1),
.maintext2>div:nth-child(5) {
     color: rgba(255,133,133);
    background: linear-gradient(90deg, rgba(255,133,133) 0%, rgb(255, 157, 157) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.maintext>div:nth-child(2) {
    color: rgba(164,131,254);
    background: linear-gradient(90deg, rgba(128,255,192,1) 0%, rgba(164,131,254,1) 50%, rgba(255,133,133,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.maintext2>div:nth-child(2),
.maintext2>div:nth-child(4),
.maintext2>div:nth-child(6) {
     color: rgb(128, 172, 255);
    background: linear-gradient(90deg, rgba(128,255,192,1) 0%, rgba(164,131,254,1) 50%, rgba(255,133,133,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.maintext2>div:nth-child(3) {
    /* color: rgb(255, 242, 128); *
    background: linear-gradient(90deg, rgba(128,255,192,1) 0%, rgba(164,131,254,1) 50%, rgba(255,133,133,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* .maintext>div, .maintext2>div {
    background: linear-gradient(90deg, rgba(128,255,192,1) 0%, rgba(164,131,254,1) 50%, rgba(255,133,133,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */


.gradi {
/* background-image: linear-gradient(90deg, rgb(192, 99, 99) 0%, rgb(71, 143, 185) 100%); */
  background-image: linear-gradient(90deg, rgba(128,255,192,1) 0%, rgba(164,131,254,1) 50%, rgba(255,133,133,1) 100%);
  background-size: 75%;
  background-attachment: fixed; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}
