body {
  color: white;
  background: #151624;
  position: relative;
  left: 2rem;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 100vh;
}

html {
  padding: 0;
  margin: 0;
}

*::selection {
  background: transparent;
}

a {
  color: white !important;
}

.linespacer {
  font-family: "Flow Circular", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
.friends-text {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

div {
  display: inline;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding-bottom: 0;
}

center {
  display: inline;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding-bottom: 0;
  font-size: 12px;
  text-align: center;
}

h1 > div {
  background: linear-gradient(
    90deg,
    rgba(128, 255, 192, 1) 0%,
    rgba(164, 131, 254, 1) 50%,
    rgba(255, 133, 133, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  top: -1rem;
}

/*
.maintext>div:nth-child(1),
.maintext2>div:nth-child(1),
.maintext2>div:nth-child(5) {
     color: rgba(255,133,133);
    background: linear-gradient(90deg, rgba(255,133,133) 0%, rgb(255, 157, 157) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.maintext>div:nth-child(2) {
    color: rgba(164,131,254);
    background: linear-gradient(90deg, rgba(128,255,192,1) 0%, rgba(164,131,254,1) 50%, rgba(255,133,133,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.maintext2>div:nth-child(2),
.maintext2>div:nth-child(4),
.maintext2>div:nth-child(6) {
     color: rgb(128, 172, 255);
    background: linear-gradient(90deg, rgba(128,255,192,1) 0%, rgba(164,131,254,1) 50%, rgba(255,133,133,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.maintext2>div:nth-child(3) {
    /* color: rgb(255, 242, 128); *
    background: linear-gradient(90deg, rgba(128,255,192,1) 0%, rgba(164,131,254,1) 50%, rgba(255,133,133,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* .maintext>div, .maintext2>div {
    background: linear-gradient(90deg, rgba(128,255,192,1) 0%, rgba(164,131,254,1) 50%, rgba(255,133,133,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.gradi {
  /* background-image: linear-gradient(90deg, rgb(192, 99, 99) 0%, rgb(71, 143, 185) 100%); */
  background-image: linear-gradient(
    90deg,
    rgba(128, 255, 192, 1) 0%,
    rgba(164, 131, 254, 1) 50%,
    rgba(255, 133, 133, 1) 100%
  );
  /* background-size: 1% 1%; */
  background-attachment: scroll;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.project > p:nth-child(1) {
  font-size: 2rem;
}

.project > p:nth-child(2) {
  font-size: 1rem;
  transform: translate(0, -2rem);
}

.project > a {
  font-size: 0.8rem;
  position: relative;
  bottom: 2.75rem;
}

.project > p:nth-child(4),
.project > p:nth-child(3) {
  font-size: 0.75rem;
  transform: translate(0, -3rem);
  color: #404040;
}

.project > .linespacer {
  transform: translate(0, -1rem);
}

.twitter {
  color: #1da1f2;
}

.bluesky {
  color: #0886fe;
}

.reddit {
  color: #ff6314;
}

.youtube {
  color: #ff0000;
}

.twitch {
  color: #7c56c3;
}

.discord {
  color: #7289da;
}

.steam {
  color: #66c0f4;
}

.github {
  color: #2da44e;
}

* {
  cursor: default;
}

a {
  cursor: pointer;
}

.socials > span {
  cursor: pointer;
}

.nocursor {
  cursor: default;
}

.huge {
  font-size: 4rem;
  line-height: 1rem;
}

.temp-message > p {
  transform: translate(30vw, 0);
}

.friends {
  position: absolute;
  top: -4rem;
  right: calc(88px - 5rem);
  padding: 0;
  margin: 0;
}

.friends-text {
  position: absolute;
  top: -6rem;
  right: calc(88px + 2rem);
  font-size: 1.75rem;
}

::-webkit-scrollbar {
  display: none;
}

.friends > a > img {
  padding: 0;
  margin: 0;
  margin-bottom: -4px;
  position: relative;
  cursor: pointer;
}
